.navbar {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  
  .blog-list {
    /* max-width: 800px; */
    margin: 0 auto;
  }
  
  .blog-list-heading {
    text-align: center;
  }